


# Ignore root-level node_modules
/node_modules

# Ignore frontend node_modules
/time-tracker/frontend/node_modules

/time-tracker/frontend/build

# Ignore backend node_modules
/time-tracker/backend/node_modules
# Ignore environment files
/time-tracker/frontend/.env
/time-tracker/backend/.env