
/time-tracker/backend/.env
/time-tracker/frontend/.env
# Ignore root-level node_modules
/node_modules

# Ignore frontend node_modules
/time-tracker/frontend/node_modules

# Ignore backend node_modules
/time-tracker/backend/node_modules